<h1>DragonBall Z</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi incidunt suscipit laudantium sint maiores, voluptate esse mollitia ex dignissimos ea ullam iure explicabo. Ducimus iusto delectus deserunt quis, nostrum recusandae.</p>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li>Krillin - 700</li>
            <li>Goku - 15000</li>
            <li>Vegeta - 8500</li>
        </ul>
    </div>

    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form (submit)="agregar()">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Poder">
            <button type="submit">Agregar</button>
        </form>
    </div>
</div>