<h1>DragonBall Z</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi incidunt suscipit laudantium sint maiores, voluptate esse mollitia ex dignissimos ea ullam iure explicabo. Ducimus iusto delectus deserunt quis, nostrum recusandae.</p>

<div class="row">

    <div class="col">
        <app-personajes [personajes]="personajes">
        </app-personajes>
    </div>

    <div class="col">
        <app-agregar 
        [nuevo]="nuevo"
        (onNuevoPersonaje)="agregarNuevoPersonaje($event)"
        ></app-agregar>
    </div>
</div>

<!--
<button (click)="play()">Play</button>-->


<!--<input type="text" 
            placeholder="Nombre"
            [value]="nuevo.nombre"
            (input)="cambiarNombre($event)"
            >-->